{% load staticfiles %}

<!-- 

	BLOCKS 
	include_css 
	title 
	content 
	include_js

-->

<!DOCTYPE html> 

<html>

	<head>

		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'bower_components/animo.js/animate-animo.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'css/base.css' %}?{% now 'U' %}">
		<!-- Deals with viewing on mobile --> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block include_css %}{% endblock %}
		<title>Q-Sensor | {% block title %}{% endblock %}</title> 

	</head>


	<body>		

	

		{% block content %}

		
		{% endblock %}



		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/jquery.scrollTo/jquery.scrollTo.min.js' %}"></script> 
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script> 
		<script src="{% static 'bower_components/underscore/underscore-min.js' %}"></script> 
		<script src="{% static 'bower_components/react/react.js' %}"></script> 
		<script src="{% static 'bower_components/animo.js/animo.min.js' %}"></script> 
		<script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
		<script src="{% static 'bower_components/d3/d3.js' %}"></script> 
		<script src="{% static 'js/base.js' %}?{% now 'U' %}"></script> 

		{% block include_js %}{% endblock %}


	</body> 

</html> 





